---
layout: default
title: Photography
featured-image: "/assets/images/gallery/thumb/firespin.jpg"
scripts:
 - /assets/js/vendor/masonry.min.js
 - /assets/js/vendor/lumos.min.js
 - /assets/js/gallery.js
---
<section class="full-width-section page-header">
    <div class="full-width-container flex">
        <div class="full">
            <h2>Photography Archive.</h2>
        </div>
    </div>
</section>
<section class="full-width-container photo-section">
    <div class="grid" id="grid">
        <div class="grid-sizer"></div>
        {% for showCasePhoto in site.data.photos.showcase %}
        <div class="item {{ showCasePhoto.format }}">
            <a href="/assets/images/gallery/full/{{ showCasePhoto.img }}.jpg" class="lumos-link" data-lumos="showcase">
                <img src="/assets/images/gallery/thumb/{{ showCasePhoto.img }}.jpg" alt="{{ showCasePhoto.title }}"/>
            </a> 
        </div>
        {% endfor %}       
    </div>

    {% for gallery in site.data.photos.galleries %}
    <div style="margin-top: 75px">
        <h3>{{ gallery.name }}</h3>
    </div>
    <div class="grid" id="grid">
        <div class="grid-sizer"></div>
        <!-- possible item formats: default, wide, ultrawide -->
        {% for photo in gallery.images %}
        <div class="item {{ photo.format }}">
            <a href="/assets/images/gallery/full/{{ photo.img }}.jpg" class="lumos-link" data-lumos="{{ gallery.id }}">
                <img src="/assets/images/gallery/thumb/{{ photo.img }}.jpg" alt="{{ photo.title }}"/>
            </a> 
        </div>
        {% endfor %}       
    </div>
    {% endfor %}
</section>
