<footer class="default-footer">
    <div class="full-width-container footer_copyright flex" style="justify-content: space-between">
        <p>&copy; Dario Gartmann &ndash; {{ site.time | date: '%Y' }}</p>
        <div class="social-media">
            <a class="fancylink" href="https://www.instagram.com/dariogartmann.ch" target="_blank">
                <i class="fa fa-instagram"></i> dariogartmann.ch
            </a>
            <a class="fancylink" href="mailto:hello@dariogartmann.ch">
                <i class="fa fa-envelope-o"></i> hello@dariogartmann.ch
            </a>
        </div>
    </div>
</footer>