<footer class="default-footer">
    <div class="container flex">
        <div class="third">
            <p>
                &copy; 2018 Dario Gartmann<br/>
                &mdash;
                <ul>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">YouTube</a></li>
                    <li><a href="#">Unsplash</a></li>
                </ul>
            </p>
        </div>
        <div class="third">
            asdf    
        </div>
        <div class="third">
            <a class="button" href="mailto:hello@dario.works">Contact Me <i class="fa fa-send"></i></a>
        </div>
    </div>
</footer>