<header class="navbar">
    <div class="full-width-container">
        <h1 class="sitetitle"><a href="/">Dario Gartmann</a></h1>
        <ul class="desktop-menu">
            {% for link in site.data.navigation %}
                {% if link.url contains 'http' or link.url contains 'mailto' %}
                    {% assign domain = '' %}
                {% else %}
                    {% assign domain = site.url %}
                {% endif %}
                
                {% if link.spacer == true %}
                <li><span class="spacer">|</span></li>
                {% else %}
                <li><a class="fancylink" href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <a href="#" class="menu-icon" id="trigger-menu"><i class="fa fa-bars"></i><span class="menu-label"> Menu</span></a>
        <div class="u-cf"></div>
    </div>
    <nav class="fullscreen-navigation modal">
        <div class="da-container menu-container">
            <ul>
                {% for link in site.data.navigation %}
                    {% if link.url contains 'http' %}
                    {% assign domain = '' %}
                    {% else %}
                    {% assign domain = site.url %}
                        {% unless link.spacer == true %}
                        <li><a class="menu-item close-menu" href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
                        {% endunless %}
                    {% endif %}
                {% endfor %}
            </ul>
            <span>
                <a class="social" href="https://youtube.com/DarioGartmannCH" target="_blank">YouTube</a>
                <a class="social" href="https://instagram.com/dario.gartmann" target="_blank">Instagram</a>
            </span>
        </div>
    </nav>
</header>