.full-width-container {
    padding: 0 96px;


    &.has-padding {
        padding: 128px 96px;
    }
}

.text_center {
    text-align: center;
}

.flex {
    display: flex;
    flex-flow: row wrap;

    .third {
        width: 33.3333%;
    }

    .half {
        width: 50%;
    }

    .full {
        width: 100%;
    }
}

/* Smaller than phablet */
@media (max-width: 550px) {
    .full-width-container.flex {
        display: block;

        .third { width: 100%; margin-bottom: 32px; }
        .half { width: 100%; margin-bottom: 32px; }
        .full { margin-bottom: 32px; }
    }

    .full-width-container {
        padding: 0 32px;
    }
}

.full-width-section {
    width: 100%;
    margin: 0;
    position: relative;
    background-color: $black;
}

.photo-section {
    position: relative;
    background-color: $black;
}

.text-block {
    p {
        letter-spacing: 1px;
        color: $accent;
        margin-bottom: 0;
        line-height: 3rem;
        font-size: 2.25rem;
        font-weight: 300;
    }   

    h3, h2 {
        letter-spacing: 1px;
        color: $accent;
        line-height: 3rem;
        font-size: 2.25rem;
        font-weight: 800;
    }
}

/* smaller than desktop*/
@media (max-width: 1010px) {
   .text-block {

   }
}

/* Smaller than phablet */
@media (max-width: 550px) {
  .text-block {

    .half {
        width: 100%;
    }

    p {
        letter-spacing: 0;
        color: $accent;
        line-height: 2.25rem;
        font-size: 1.75rem;
        font-weight: 300;
        margin-bottom: 0;
    }   

    h3, h2 {
        letter-spacing: 0;
        color: $accent;
        line-height: 2.25rem;
        font-size: 1.75rem;
        font-weight: 800;
    }
  }


  .full-width-container {
    padding: 0 32px;


    &.has-padding {
        padding: 96px 32px;
    }
}
}