.full-width-container {
    padding: 0 96px;


    &.has-padding {
        padding: 128px 96px;
    }
}

.title_header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 512px;
}
.image_header {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    height: 512px;
    width: calc(100vw - 192px);
    margin: 96px auto 0 auto;

    &.home {
        height: calc(100vh - 192px);
    }

    .image_header--image {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -3;
        background-position: center;
        background-size: cover;
    }
}

h2.underlined {
    font-size: 7rem;
    position: relative;
    display: inline;
}

h2.underlined::before {
    content: " ";
    position: absolute;
    background: rgba($primary, .5);
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    z-index: -1;
}

.text_center {
    text-align: center;
}

.flex {
    display: flex;
    flex-flow: row wrap;

    .third {
        width: 33.3333%;
    }

    .quarter {
        width: 25%;
    }

    .half {
        width: 50%;
    }

    .full {
        width: 100%;
    }
}

.background--gray {
    background-color: $lightgray;
}

.background--gradient {
    background: linear-gradient(to bottom, $white, $lightgray);
}

/* Smaller than phablet */
@media (max-width: 550px) {
    .full-width-container.flex {
        display: block;

        .third { width: 100%; margin-bottom: 32px; }
        .half { width: 100%; margin-bottom: 32px; }
        .quarter { width: 100%; margin-bottom: 32px; }
        .full { margin-bottom: 32px; }
    }

    .full-width-container {
        padding: 0 32px;
    }

    .title_header {
        height: 312px;
    }
}

.full-width-section {
    width: 100%;
    margin: 0;
    position: relative;
    background-color: $white;
}

.photo-section {
    position: relative;
    background-color: $white;
}

.text-block {
    p {
        color: $black;
        margin-bottom: 0;
        line-height: 3.25rem;
        font-size: 2rem;
        font-weight: 300;
    }   

    h3, h2 {
        letter-spacing: 1px;
        color: $black;
        line-height: 3.25rem;
        font-size: 3.25rem;
        font-weight: 800;
    }
}

/* smaller than desktop*/
@media (max-width: 1010px) {
  
}

/* Smaller than phablet */
@media (max-width: 550px) {
  .text-block {

    .half {
        width: 100%;
    }

    p {
        letter-spacing: 0;
        line-height: 2.25rem;
        font-size: 1.75rem;
        font-weight: 300;
        margin-bottom: 0;
    }   

    h3, h2 {
        letter-spacing: 0;
        line-height: 2.25rem;
        font-size: 1.75rem;
        font-weight: 800;
    }
  }

  .full-width-container {
    padding: 0 32px;


    &.has-padding {
        padding: 96px 32px;
    }
    }

    .image_header {
        height: 412px;
        width: calc(100vw - 64px);
    }
}