@import "variables";
@import "typography";

@import "libs/normalize";
@import "libs/skeleton";
@import "libs/lumos";
@import "libs/zoom";
@import "libs/lity";
@import "libs/flickity";

@import "components/button";
@import "containers";
@import "navigation";
@import "footer";

@import "pages/page-default";
@import "pages/home";
@import "pages/projects";

/* Basic styling
--------------------------------- */
body {
    margin: 0;
    background-color: $black; 
    color: $white;
}

img {
    max-width: 100%;
    display: block;
}

/* Fancy link
--------------------------------- */
.fancylink {
    text-decoration: none;
    color: $white;
    position: relative;
    background: none;    
    z-index: 2;

    &.fancylink--light {
        color: $accent;
    }
}
.fancylink:hover {
    color: $lightgray;

    &.fancylink--light {
        color: $white;
    }
}

.fancylink:before {
    content: "";
    position: absolute;
    background-color: rgba($primary, 0.75);
    left: 0;
    bottom: 10%;
    right: 100%;
    top: 60%;
    z-index: -1;
    transition: right 300ms ease-in-out; 
}
.fancylink:hover:before {
    right: 0; 
}

.image-header {
    background-position: center;
    background-size: cover;
    min-height: 512px;
    // min-height: 100vh;
    position: relative;

    display: flex;
    flex-flow: row wrap;
    align-items: center;

    h2 {
        color: $white;
    }
    // border-bottom: 8px solid $accent;

}

@media (max-width: 650px) {
    .image-header {
        min-height: 320px;
    }

}

.rounded {
    border-radius: 2px 2px 0 0;
}

.text-center {
    text-align: center;
}

/* Utils
--------------------------------- */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
 
	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
 
	-webkit-animation-duration:0.75s;
	-moz-animation-duration:0.75s;
	animation-duration:0.75s;
}

::-moz-selection { 
    color: $white;
    background: $black;
}

::selection {
    color: $white; 
    background: $black;
}