footer.default-footer {
    left: 0;
    bottom: 0;
    background-color: #F9F9F9;
    background-size: cover;
    background-position: center;
    width: 100%; 
    color: darken($lightgray, 20);
    z-index: -1;
    padding: 75px 0;

    transition: background-image 1s ease;

    a {
        color: darken($lightgray, 20);
        text-decoration: none;
    }
    p {
        margin: 0;
    }

    a:hover{
        color: darken($lightgray, 40);
    }

    span.tag {
        color: $primary;
    }

    ul.project-list li a {
        color: $lightgray;
    }
}
