footer.default-footer {
    left: 0;
    bottom: 0;
    background-color: $black;
    background-size: cover;
    background-position: center;
    width: 100%; 
    color: $lightgray;
    z-index: -1;
    padding: 75px 0;

    a {
        color: $lightgray;
        text-decoration: none;
    }
    p {
        margin: 0;

        &.copyright {
            color: $lightgray;
        }
    }

    a:hover{
        color: lighten($accent, 40);
    }

    span.tag {
        color: $primary;
    }

    ul.project-list li a {
        color: $accent;
    }
}
