/* Navigation and Header
--------------------------------- */
header.navbar {
    z-index: $OVERLAY;
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
    position: fixed;
    transition: all 200ms ease;
    border: none;
    background-color: $white;

    h1.sitetitle {
        float: left;
        text-transform: uppercase;
        margin: 0;

        a {
            color: $black;
            text-decoration: none;
            font-size: 2rem;
            letter-spacing: 2px;
            font-weight: 600;
        }
    }

    .menu-icon {
        line-height: 75px;
        color: $black;
        float: right;
        text-decoration: none;
        font-weight: 600;
    }
}
body.has-featured-image header.navbar {
    background-color: transparent;
}

body.has-featured-image header.navbar h1.sitetitle a, body.has-featured-image header.navbar .menu-icon {
    color: $white;
}

body header.navbar.sticky {
    background-color: $white;

    h1.sitetitle a, .menu-icon {
        color: $black;
    }
}

nav.fullscreen-navigation {
    z-index: $OVERLAY;
    background-color: $white;
    height: 100%;
    height: 100vh;
    width: 100%;
    width: 100vw;
    top: -100%;
    left: 0;
    position: fixed;
    transition: all 400ms ease-in-out;
}
nav.fullscreen-navigation ul {
    list-style: none;
}
nav.fullscreen-navigation ul li a {
    text-decoration: none;
    font-size: 5rem;
    font-weight: 400;
    line-height: 5.1rem;
    color: $black;
}

.menu-item, .menu-item:hover {
    color: $black;
    position: relative; 
}
.menu-item:before {
    content: "";
    position: absolute;
    background: rgba($primary, .5);
    left: 0;
    bottom: 10%;
    right: 100%;
    top: 60%; 
    z-index: -1;
    transition: right 300ms ease-in-out; 
}
.menu-item:hover:before {
    right: 0; 
}

.social {
    text-decoration: none;
    color: $primary;
    font-size: 2rem;
    margin-right: 25px;
}

.menu-container {
    margin-top: 250px;
}
