@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700,800,900');

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Open Sans', Verdana, sans-serif;
    color: $black;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    font-size: 1.7rem;
    font-weight: 400;
}

p {
    max-width: 100%;
    line-height: 2.5rem;
    font-weight: light;
}

a {
    transition: color 300ms ease-in-out;    
    text-decoration: none;
    color: $primary;
}

hr.hr {
    margin-top:3rem;
    margin-bottom:3.5rem;
    display: block;
    height: 8px;
    max-width: 32px !important;
    border: none;
    background-color: $primary !important;
}


