$page-side-padding: 96px;

$primary: #ffff00; // #FF6B6B
// $black: #292929;
// $white: #FFF;
$accent: #B9B9B9;

$black: #FFFFFF;
$white: #19171A;

$lightgray: #f0f0f0;

$FOREGROUND: 1000;
$OVERLAY: 9999;