section.hero {
    position: absolute;
    bottom: 75px;
    left: 75px;
    max-width: 50%;

    h2, h3, p, a {
        margin-bottom: 0;
        color: $white;
        font-family: 'Montserrat';

        &:hover {
            color: $white;
        }
    }
}

@media (max-width: 750px) {
    section.hero {
        position: absolute;
        bottom: 25px;
        left: 25px;
        max-width: calc(100% - 50px);

        h2, h3 {
            font-size: 3rem;
        }
    }

    body.home {
        height: 100vh;
        background-image: url('/assets/images/dario-paris.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
}


body.home {
    overflow: hidden;
}

.carousel-video {
    min-height: 100%;
    min-width: 100%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}