.home_slider_indicator {
    position: absolute;
    width: 100%;
    bottom: 45px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;

    z-index: $FOREGROUND;

    .hsi_dot{
        display: inline-block;
		width: 6px;
		height: 6px;
		margin: 0 6px;
        border: 2px solid $black;
		border-radius: 50%;
		opacity: 1;
		cursor: pointer;
		transition: all 300ms ease;

        &.active {
            background-color: $black;
        }
    }
}

.home_slider_item {
    display: none;
    transition: all 300ms ease;

    &.active {
        display: flex;
    }
}

.home_content {
    left: 96px;
    bottom: 96px;
    position: absolute;    
}