
.home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: rgb(114, 114, 114);
    background-color: $darkgray;
    color: $lightgray;

    background-image: url('../images/mountain.png');
    background-size: cover;
    background-position: bottom;

    text-align: center;

    h1 {
        font-size: 8rem;
        font-weight: 600;
        font-family: "Open Sans";
        text-transform: uppercase;
        letter-spacing: 15px;

        text-shadow: 0px 0px 1px #000;
        color: $white;
    }  
    a.fancylink {
        font-size: 2rem;
        color: $white;

        &:hover {
            color: rgb(114, 114, 114);
        }
    }
}

