.page-header {
    padding-top: 96px;
    padding-bottom: 96px;
}

main.default-content {
    margin-bottom: 64px;
}

.page_section {
    background-color: $black;
    position: relative;
    color: $white;

    .container {
        padding: 96px 16px
    }

    &.page_section--primary {
        background-color: $primary;
        color: $white;
    }

    &.page_section--primary-dark {
        background-color: darken($primary, 2);
        color: $white;
    }
    &.page_section--dark {
        background-color: lighten($black, 4);
        color: $white;
    }

    &.page_section--image {
        background-position: center;
        background-size: cover;
        min-height: 412px;

        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        h2 {
            color: $white;
            z-index: 3;
        }
       
    }
}

h2 {
    font-weight: 700; 
    font-family: Montserrat; 
    letter-spacing: 2px;
}