/* SCROLL INDICATOR */
.scroll-indicator {
    z-index: 5000;
    position: fixed;
    display: block;
    background-color: lighten($white, 2);
    top: 50%;
    left: 32px; 
    height: 128px;
    width: 2px;

    -webkit-transform: translate(16px, -50%);
        -ms-transform: translate(16px, -50%);
            transform: translate(16px, -50%);
}

.scroll-indicator #scrollposition {
    display: block;
    width: 2px;
    background-color: $black;
}

@media (max-width: 550px) {
    .scroll-indicator {
        left: -1px;
    }
}