---
scripts:
 - /assets/js/vendor/yall.min.js
 - /assets/js/menu.js
 - /assets/js/scroll.js
 - /assets/js/slider.js
 - /assets/js/vendor/flickity.min.js
 - /assets/js/vendor/lity.min.js
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% if page.title %}{{ page.title }} • {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
        <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no" />
        <meta name="author" content="Dario Gartmann" />
        <meta name="keywords" content="film, kameramann, film production, videographer, video editor, creative, freelancer" />
        <meta name="theme-color" content="#222">

        <link rel="shortcut icon" type="image/png" href="{{site.url}}/favicon.png"/>
        <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css?v={{site.version}}" />
        <script src="https://unpkg.com/@barba/core"></script>
        <script src="https://unpkg.com/gsap@latest/dist/gsap.min.js"></script>
		<script src="https://use.fontawesome.com/f0ef56809a.js"></script>
    </head>

    <body class="{% if page.featured-image %}has-featured-image{% endif %}">
        {% include header.html %}
        <main class="default-content" data-barba="wrapper" id="async-wrapper">
            {{ content }} 
        </main>
        {% include footer.html %}
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        {% for js in layout.scripts %}
            <script type="text/javascript" src="{{ js }}"></script>
        {% endfor %}
        {% for js in page.scripts %}
            <script type="text/javascript" src="{{ js }}"></script>
        {% endfor %}

        <script>
            barba.init({
                transitions: [{
                    name: 'opacity-transition',
                    leave(data) {
                        return gsap.to(data.current.container, {
                            duration: 0.2,
                            opacity: 0
                        });
                    },
                    enter(data) {
                        return gsap.from(data.next.container, {
                            duration: 0.2,
                            opacity: 0
                        });
                    }
                }],
                views: [{
                    namespace: 'home',
                    beforeEnter() {
                       window.scrollTo({ top: 0 });
                    },
                    afterEnter() {
                        initSlider();
                    }
                },
                {
                    namespace: 'default',
                    beforeEnter() {
                        window.scrollTo({ top: 0 });
                    },
                    afterEnter() {
                        // Initialize Flickity
                        var elements = document.querySelectorAll('.flickity_container');

                        [].forEach.call(elements, function(elem) {
                            var flkty = new Flickity( elem, {
                                // options
                                imagesLoaded: true,
                                percentPosition: false 
                            });
                        });
                    }
                }]
            });


        </script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-71586322-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-71586322-1');
        </script>
    </body>
</html>
