<!DOCTYPE html>
<html>
    <head>
        <title>{% if page.title %}{{ page.title }} • {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
        <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no" />
        <meta name="author" content="DaHa" />
        <meta name="theme-color" content="#222">
        
        <link rel="shortcut icon" type="image/png" href="{{site.url}}/favicon.png"/>
        <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css?v={{site.version}}">
		<script src="https://use.fontawesome.com/f0ef56809a.js"></script>
    </head>
    <body class="home has-featured-image">
        {% include header.html %}
        <main id="async-wrapper">
            {{ content }}
        </main>
        {% include footer.html %}
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="{{ site.url }}/assets/js/menu.js"></script>
        {% for js in page.scripts %}
            <script type="text/javascript" src="{{ js }}"></script>
        {% endfor %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-71586322-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-71586322-1');
        </script>

    </body>
</html>
