---
layout: default
scripts:
 - /assets/js/vendor/lity.min.js
 - /assets/js/vendor/flickity.min.js
---
<div class="async-container">
    {% if page.featured-image %}
        <section class="image_header">
            <div class="image_header--image" style="background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1)), url({{ page.featured-image }})"></div>
            <div class="container text-center">
                <h2 class="underlined">{{ page.title }}</h2>
            </div>
        </section>
    {% else %}
        <section class="title_header">
            <div class="container text-center">
                <h2 class="underlined">{{ page.title }}</h2>
            </div>
        </section>
    {% endif %}
    {{ content }}
</div>