---
layout: default
---
<div class="async-container" data-barba="container" data-barba-namespace="default">
    {% if page.featured-image %}
        <section class="image_header">
            <div class="image_header--image" style="background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(0,0,0,0.8)), url({{ page.featured-image }})"></div>
            <div class="container text-center">
                <h2 class="underlined">{{ page.title }}</h2>
            </div>
        </section>
    {% else %}
        <section class="title_header">
            <div class="container text-center">
                <h2 class="underlined">{{ page.title }}</h2>
            </div>
        </section>
    {% endif %}
    {{ content }}
</div>