---
layout: default
scripts:
 - /assets/js/vendor/lity.min.js
 - /assets/js/vendor/flickity.min.js
---
<div class="async-container">
    {% if page.featured-image %}
        <section class="image-header" style="background-image: url({{ page.featured-image }})">
            <div class="container text-center">
                <h2>{{ page.title }}</h2>
            </div>
        </section>
    {% else %}
        <aside class="spacer" style="display:block;height:125px;"></aside>
    {% endif %}
    {{ content }}
</div>